/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../..assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../..assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../..assets/fonts/roboto-v30-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../..assets/fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../..assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../..assets/fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  width: 1600px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1600px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #333b41;
}

/*  header styles start */
.header {
  background: #000000;
}
.wrapper {
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  position: relative;
  margin-top: 14px;
  margin-left: 220px;
  margin-bottom: 14px;
  width: 82px;
  height: 52px;
  justify-items: center;
}
.logo__header-text {
  position: absolute;
  width: 72.49px;
  height: 44.91px;
  left: 4.75px;
  top: 3.55px;
}
.header__logo-img {
  position: absolute;
  top: 0px;
}
.header__logo-img-bamboo {
  position: absolute;
  top: 24px;
  left: 11.5px;
}
.header_logo-link {
  width: 72.49px;
  height: 44.91px;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  margin: 28px 58px 28px 63px;
}

.header__item {
  margin-right: 58px;
}
.header__item:last-child {
  margin-right: 438px;
}

.header__designed {
  align-items: center;
  margin: 28px 0px 28px 0px;
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus {
  color: #f9804b;
}
.header__about {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #f9804b;
  text-decoration: none;
}

/* header styles end */

/* intro styles start */

.intro {
  height: 700px;
  background: url(/online-zoo/assets/images/Giant\ Panda.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.orange-ellipse {
  margin: 12px 329px 223px 806px;
}
.intro__text-box {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 80px;
  left: 880px;
}
.intro__text {
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.intro__favorite {
  color: #ffee2e;
}
.button__intro {
  width: 298px;
  height: 54px;
  position: absolute;
  top: 560px;
  left: 983px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
}
.button__intro:hover,
.button__intro:focus {
  background: #b86e1a;
}
.button__intro-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* intro styles end */

/* backstage styles start */
.backstage-and-animal_cards {
  position: relative;
}
.backstage__wrapper {
  width: 1161px;
  margin-left: 219px;
  padding-top: 140px;
}

.backstage__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 403px;
  column-gap: 87px;
}
.backstage__h2-text {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 20px;
}
.backstage__h4-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 34px;
}
.backstage__p-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 54px;
}
.backstage-and-animal_cards{
  height: 1286px;
}

.card-animals__wrapper {
  position: relative;
}
.flower__right {
  width: 204px;
  height: 605px;
  position: absolute;
  top: 0px;
  right: 0px;

}

.flower__down-right{
  position: absolute;
  right: 0px;
  top: 1554px;
  z-index: -1;
}

.flower__down-left{
  position: absolute;
  left: 0px;
 top: 1369px;
 z-index: -1;
}

.card-animals__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  z-index: auto;
  width: 1158px;
  height: 872px;
  margin: 180px 222px 80px 220px;
}
.card-alimals__grid-cell {
  position: relative;
  border-radius: 5px;
  border: 1px solid #b86e1a;
}


.card-alimals__img {
  width: 366px;
  height: 366px;
}
.card-animals__icn {
  position: absolute;
  right: 8px;
  bottom: 14px;
}

.card-animals__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  margin-left: 16px;
}

.cards-animals__dec {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin-left: 16px;
  margin-bottom: 14px;
}

.cards-animals__button-choose {
  width: 298px;
  height: 54px;
  background: #fe9013;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 651px;
  margin-bottom: 100px;
}


.cards-animals__button-left {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 641px;
  left: 138px;
}

.cards-animals__button-right {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 1398px;
  bottom: 641px;
  right: 138px;
}

.cards-animals__button-choose:hover,
.cards-animals__button-choose:focus,
.cards-animals__button-left:hover,
.cards-animals__button-left:focus,
.cards-animals__button-right:hover,
.cards-animals__button-right:focus {
  background: #b86e1a;
}

